<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS-->
    <link rel="stylesheet" href="css/bootstrap.min.css"></link>
    <title>HOME</title>
    <script>

    </script>
</head>
<body>
    <!--NAV-BAR-->
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #1a1a1a;">
          <a class="rounded mx-auto d-block" href="home.html">
            <img src="imagens/friday.svg" alt="" width="100" height="100">
          </a>
    </nav>

    <!--CARROSSEL-->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="imagens/baymax.svg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="imagens/bender.svg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="imagens/friday-carrosel.svg" class="d-block w-100" alt="...">
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!--PRODUTOS-->
    <div class = "text-center"style="background-color: #292828; color: #ffffff">
        <div class="container-lg mx-auto p-5">
            <div>
                <H4>AUTOMAÇÕES</H4>
            </div>
            <div class="row justify-content-center p-5">
                <div class="col-lg-4" text-align = "center">
                    <a class="bd-placeholder-img rounded-circle" href="smx.html">
                        <img src="imagens/smx2.png" alt="" width="240" height="80" text-align = "center">
                    </a>
                </div>
        </div>
    </div>
    <!--CIDADELA-->
    <div class = "text-center"style="background-color: #292828; color: #ffffff">
        <div class="container-lg mx-auto p-5">
            <div>
                <H4>CIDADELA</H4>
            </div>
            <div class="row justify-content-center p-5">
                <div class="col-lg-4" text-align = "center">
                    <a class="bd-placeholder-img rounded-circle" href="https://www.linkedin.com/in/matheus-joga-656433148/">
                        <img src="imagens/morty.png" alt="" width="140" height="140" text-align = "center">
                    </a>
                    <h2>Matheus Joga</h2>
                    <p>DEV Pleno</p>
                </div>
                <div class="col-lg-4">
                    <a class="bd-placeholder-img rounded-circle">
                        <img src="imagens/rick.png" alt="" width="140" height="140">
                    </a>
                    <h2>Jonatas Ribeiro</h2>
                    <p>DEV Senior</p>
            </div>
            <div class="row justify-content-center p-5">
                <div class="col-lg-4">
                    <a class="rounded mx-auto d-block">
                        <img src="imagens/fox.png" alt="" width="140" height="140">
                    </a>
                    <h2>Antonio Neto</h2>
                    <p>DEV junior</p>
                </div>
                <div class="col-lg-4">
                    <a class="bd-placeholder-img rounded-circle">
                        <img src="imagens/hiro.png" alt="" width="140" height="140">
                    </a>
                    <h2>Anne Castilho</h2>
                    <p>DEV Junior</p>
                </div>
            </div>
        </div>
    </div>


    <!--JS-->
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>