<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS-->
    <link rel="stylesheet" href="css/bootstrap.min.css"></link>
    <title>PADRAO</title>
    <script>

    </script>
</head>
<body>
    <!--NAV-BAR-->
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #1a1a1a;">
          <a class="rounded mx-auto d-block" href="home.html">
            <img src="imagens/friday.svg" alt="" width="100" height="100">
          </a>
    </nav>


    <!--JS-->
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>