<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>SMX</title>
    <!--FORÇA A COR DO BACKGROUND--> 
    <style>
      body{background: #292828;}
    </style>


</head>
<body>
    <!--NAV-BAR-->
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #1a1a1a;">
      <a class="rounded mx-auto d-block" href="home.html">
        <img src="imagens/friday.svg" alt="" width="100" height="100">
      </a>
    </nav>

    <!--PRODUTOS-->
    <div class = "text-center"style="background-color: #292828; color: #ffffff">
      <div class="container-lg mx-auto p-5">
        <a class="bd-placeholder-img rounded-circle">
          <img src="imagens/smx2.png" alt="" width="240" height="80" text-align = "center">
        </a>
        <!--LINHA 1-->
        <div class="row justify-content-center p-1">
            <div class="col-sm" text-align = "center">
                <a class="bd-placeholder-img rounded-circle" href="smx_p.html?carteira=85_DIG_SMX_CORRENTISTA">
                    <img src="imagens/bancos/bradesco.png" alt="" width="140" height="140" text-align = "center">
                </a>
            </div>
            <div class="col-sm" text-align = "center">
              <a class="bd-placeholder-img rounded-circle" href="smx_p.html?carteira=AVON">
                  <img src="imagens/bancos/avon.png" alt="" width="140" height="140" text-align = "center">
              </a>
            </div>
        </div>
    </div>    
    
    <!--JS-->
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>